.App {
  text-align: center;
  background-color: #282c34;
  height: 100vh;
} 

.App-header {
  background-color: #282c34;
  min-height: 35vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

h3{
  color:white;
}
/* Nav bar */
nav ul {
  list-style-type: none;
  margin: 0;
  margin-bottom: 40px;
  margin-left: auto;
  padding: 0;
  overflow: hidden;
  background-color: rgba(0,0,0,.5);
}

nav li, nav button {
  border: none;
  display: inline-block;
  background-color: rgba(0,0,0,.1);
  margin-left: 5px;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
nav li a:hover {
  background-color: rgba(0,0,0,.3);
}

/* Login View */
.Login, .WriteEmail {
  width: 30%;
  margin:auto;
  padding: 30px;
  background-color: rgba(0,0,0,.2);
}

.Login h3, .WriteEmail h3{
  font-size: 30px;
  color: #fff;
	font-weight: 100;
	padding: 20px;
	margin: -30px -30px 30px -30px;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea
{
  color: #fff;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	display: block;
	width: 100%;
	padding: 7px;
	border: none;
	border-bottom: 1px solid #ddd;
	background: transparent;
	margin-bottom: 10px;
	font: 16px Arial, Helvetica, sans-serif;
	height: 45px;
}
textarea{
	resize:vertical;
	overflow: hidden;
}
input[type="button"], 
input[type="submit"]{
	-moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
	-webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
	box-shadow: inset 0px 1px 0px 0px #45D6D6;
	background-color: #2CBBBB;
	border: 1px solid #27A0A0;
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 14px;
	padding: 8px 18px;
	text-decoration: none;
	text-transform: uppercase;
}
.Login input[type="button"]:hover, 
.Login input[type="submit"]:hover {
	background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
	background-color:#34CACA;
}

/* Read Email */
.json-to-table{
  margin: auto;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 85vw;
  text-align: left;
}

.json-to-table td, .json-to-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.json-to-table tr:nth-child(even){background-color: rgba(255,255,255,.5);}

.json-to-table tr:hover {background-color: rgba(255,255,255,.5);}

.json-to-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #27A0A0;
  color: white;
}